# Dependencias
node_modules/

# Builds
dist/
build/
coverage/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel
